html {
}

body {
  overflow-x: hidden;
}

nav {
  background-color: #fff2db;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav {
  font-size: 22px;
}

.nav-buttons {
  margin-right: 5px;
  border-radius: 58px;
  border: 0px;
  background-color: #4fff97;
  /* color: white; */
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #ffb2b2;
}

.nav-control {
  line-height: 12px;
  text-align: center;
  padding: 10px 0;
}

.logo-control {
  display: none;
}

#navbar-nav:last-child {
  margin-bottom: 10px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .logo-control {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo-control {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo-control {
    display: initial;
  }
  .nav-control {
    line-height: 60px;
    text-align: initial;
    padding: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo-control {
    display: initial;
  }
}
