html {
}

body {
  overflow-x: hidden;
}

#root {
  background-color: #ffd40014;
}

/* Navbar Styles */
.navbar-nav {
  font-size: 22px;
}

.nav-buttons {
  margin-right: 5px;
  border-radius: 58px;
  border: 0px;
  background-color: #4fff97;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #ffb2b2;
}

.nav-buttons:hover {
  background-color: #00ef60;
  transition: ease-in-out 300ms;
}

.nav-control {
  line-height: 12px;
  text-align: center;
  padding: 10px 0;
}

.logo-control {
  display: none;
}

nav {
  background-color: #fce4b9;
}
#navbar-nav:last-child {
  margin-bottom: 10px !important;
}

/* Homepage Styles */
main {
  font-family: "Signika Negative", sans-serif;
}

main h3 {
  margin-left: 40px;
}
.page-title-text {
  text-align: center;
}

.page-title-text p {
  font-size: 20px;
}

.shopcard-control {
}

.shopCard {
  cursor: pointer;
  background-color: wheat;
  box-shadow: 5px 3px 11px 0px rgb(216 216 216);
  transition: ease-in-out 175ms;
}

.card-image-control {
  max-width: 300px;
}

#username {
  width: 100%;
  border-radius: 33px;
  border: solid 1px #c3c3c3;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

#email {
  width: 100%;
  border-radius: 33px;
  border: solid 1px #c3c3c3;
  height: 40px;
  font-size: 20px;
  padding-left: 15px;
}

#password {
  width: 100%;
  border-radius: 33px;
  border: solid 1px #c3c3c3;
  height: 40px;
  font-size: 20px;
  padding-left: 15px;
}
/* Submit Tacoshop Page Styles */
#submitshop-page {
}

#submitshop-page h2 {
  text-align: center;
  margin-top: 5px;
  color: #747474;
}

#submitshop-page p {
  text-align: center;
}

#submitshop-form label {
  margin: 1px;
  font-weight: bold;
}

#submitshop-form input {
  width: 100%;
  border-radius: 33px;
  border: solid 1px #c3c3c3;
  height: 40px;
  font-size: 20px;
  padding-left: 15px;
}

.submitshop-form-inner input {
  outline: none;
}

.submitshop-form-inner input:focus-visible {
  background-color: rgba(4, 253, 108, 0.3);
  transition: ease-in-out 150ms;
  /* outline: 3px solid #34ff85; */
}

.rating-control {
  margin-top: 10px;
}
.rating-control select {
  margin-left: 8px;
  width: 70px;
}

.shop-url-control input {
  margin-top: 2px;
}

.featured-food-control {
  margin-top: 22px;
  text-align: center;
}

.featured-food-inner input {
  width: 15px !important;
  height: 15px !important;
  margin-left: 3px;
  position: relative;
  /* padding-top: 346px; */
  top: 3px;
}
.featured-food-inner label:nth-child(n + 2) {
  margin-left: 10px !important;
}
#shopState {
  background-color: #e1e1e1;
  color: #00000061;
}

.shop-submit {
  width: 100%;
}

/* Login Page Styles */
#login-page {
  height: 395px;
}
#login-page h1 {
  text-align: center;
  margin-top: 5px;
  color: #747474;
}

#login-page p {
  text-align: center;
}

#login-form label {
  margin: 1px;
  font-weight: bold;
}

#login-form input:focus {
  outline: none;
}

#login-form input:focus-visible {
  background-color: rgba(4, 253, 108, 0.3);
  transition: ease-in-out 150ms;
  /* outline: 3px solid #34ff85; */
}

/* Sign Up Page Styles */
#signup-page {
  height: 395px;
}
#signup-page h1 {
  text-align: center;
  margin-top: 5px;
  color: #747474;
}

#signup-page p {
  text-align: center;
}

#signup-form label {
  margin: 1px;
  font-weight: bold;
}

#signup-form input:focus {
  outline: none;
}

#signup-form input:focus-visible {
  background-color: rgba(4, 253, 108, 0.3);
  transition: ease-in-out 150ms;
}

.login-button {
  margin-top: 10px;
  width: 100%;
  height: 38px;
  transition: ease-in-out 300ms;
}

.login-button:hover {
  background-color: #00b147;
  transition: ease-in-out 300ms;
}

.sign-up-button {
  margin-top: 10px;
  width: 100%;
  height: 38px;
  transition: ease-in-out 300ms;
}

.sign-up-button:hover {
  background-color: #00b147;
  transition: ease-in-out 300ms;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* Single Shop Styles */
.submitreview-control {
  text-align: center;
}

.submitreview-control textarea {
  width: 70%;
  border-radius: 4px;
  height: 150px;
}
.submitreview-control button {
  margin-bottom: 20px;
  margin-top: 6px;
  width: 70%;
  height: 38px;
  transition: ease-in-out 300ms;
  border-radius: 58px;
  border: 0px;
  background-color: #4fff97;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #ffb2b2;
}

.submitreview-control button:hover {
  background-color: #00b147;
  transition: ease-in-out 300ms;
}

/* Footer Styles */
footer {
  background: rgb(251, 212, 143);
  background: linear-gradient(
    0deg,
    rgba(251, 212, 143, 1) 0%,
    rgba(252, 217, 156, 1) 67%,
    rgba(255, 242, 219, 1) 100%
  );
  border-top: solid 1px #9e9e9e;
}

#root > nav > button:nth-child(3) {
  display: none;
}

#root > nav > button:nth-child(4) {
  display: none;
}

#navbarNav > ul > li:nth-child(3) > button:nth-child(1) {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 0 10px 0;
}

#navbarNav > ul > li:nth-child(3) > button:nth-child(2) {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 0 10px 0;
}
.splide {
  display: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .logo-control {
    display: none;
  }
  .splide {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo-control {
    display: none;
  }
  .splide {
    display: initial;
  }
  .splide__pagination {
    display: none;
  }
  .splide__arrows {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo-control {
    display: initial;
  }
  .nav-control {
    line-height: 74px;
    text-align: initial;
    padding: 0;
  }

  #navbarNav > ul > li:nth-child(4) > button:nth-child(1) {
    display: none;
  }
  #navbarNav > ul > li:nth-child(4) > button:nth-child(2) {
    display: none;
  }

  #root > nav > button:nth-child(3) {
    display: initial;
  }

  #root > nav > button:nth-child(4) {
    display: initial;
  }
  #navbarNav > ul > li:nth-child(3) > button:nth-child(1) {
    display: none;
  }
  #navbarNav > ul > li:nth-child(3) > button:nth-child(2) {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo-control {
    display: initial;
  }
}
