.icons {
  width: 30px;
}

.featureCard {
  border-radius: 10px;
  background: linear-gradient(rgb(255 0 0 / 20%), rgb(230 255 170 / 45%)),
    url("../../images/oldTown.jpg");
}

#locationBox {
  background-color: transparent;
  color: whitesmoke;
  opacity: 0.9;
}

#boxText {
  color: whitesmoke;
  opacity: 0.9;
}

.shopCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.textBox {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
