.icons {
  width: 30px;
}

.featureCard {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.72), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.featuredCardBody {
}

.featureCard:hover {
  transform: scale(1.01);
  transition-duration: 1s;
}

#locationBox {
  opacity: 0.9;
}

#boxText {
  opacity: 0.9;
}

.shopCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.textBox {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
