.icons {
  width: 30px;
}

.featureCard {
  border-radius: 10px;

  /* background: linear-gradient(
    90deg,
    rgba(58, 180, 127, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(254, 255, 255, 1) 67%,
    rgba(252, 90, 69, 1) 100%
  ); */
}

.shopCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.textBox {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
